.row {
    color: white;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: stretch;
    padding: 1rem 1rem;
    position: relative;
    overflow: hidden;
    /* background: linear-gradient(transparent 80%, #0c1538); */
}

.row:not(.row:last-child) {
    border-bottom: 1px solid gray;
}

.row .img_ranking {
    width: 40px;
    margin: 0;
    padding: 0;
}

.row h2,
.row h3 {
    font-family: var(--fonte-terciaria);
    font-weight: 800;
    text-align: left;
    letter-spacing: .5px;
    line-height: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

.row img {
    height: 40px;
    width: auto;
    padding-right: .5rem;
}

.row h2 {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--laranja);
    text-shadow: -1px 1px black;
}

.row h3 {
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.row span {
    font-family: var(--fonte-terciaria);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
    margin-right: 1rem;
    font-size: 18px;
    border-right: 1px solid #FFF;
    font-weight: 400;
    min-width: 60px;
}

.row>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row .first {
    font-size: 28px;
    background: linear-gradient(
        var(--orange-mobile),
        var(--orange-mobile),
        var(--laranja),
        var(--orange-mobile));
    -webkit-background-clip: text;
    letter-spacing: 1.2px;
    background-clip: text;
    color: transparent;
    text-shadow: none;
}

/* .even h2 {
    color: var(--orange-mobile);
} */

/* .even h3,
.even span {
    color: #15212a;
    border-color: #15212a;
    font-weight: 500;
} */