.navbar {
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: var(--blue-bg);
    border-bottom: var(--border);
    height: 95px;
    max-width: 100vw;
    overflow: hidden;
}

.logo {
    flex: 1;
    text-align: left;
}

.logo img {
    height: 60px;
    border-radius: 50%;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex: 1 1 100%;
}

.links a {
    color: var(--white);
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 1rem;
    transition: .2s;
}

.links a:hover {
    color: var(--vermelho);
    padding-bottom: .2em;
    border-bottom: var(--border);
    border-color: var(--vermelho);
    border-width: 2px;
}

.jkp {
    text-align: right;
    font-size: 45px;
    font-weight: 500;
    color: var(--white);
    flex: 1;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
        
        background-color: var(--blue-bg);;
        height: initial;
        max-width: 100vw;
        overflow: hidden;
        position: relative;
        overflow: initial;
    }

    .links {
        font-family: var(--fonte-secundaria);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: absolute;
        right: 0;
        top: 100%;
        background-color: var(--preto);
        border: var(--border);
        border-right: 0;
        animation: slide .2s ease-out;

    }

    .links a {
        width: 100%;
        font-size: 18px;
        padding: 1em 2rem;
    }

    .hide {
        color: white;
        display: flex;
        animation: opacity .25s linear;
    }

    .show {
        display: none;
    }
}