.footer {
    border-top: var(--border);
    background: url(../../assets/bg.jpg);
    /* background: #222; */
    padding: 1rem 2rem;
    font-family: var(--fonte-secundario);
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    padding: 10px 0;
}

.links{
    padding: 20px 0;
}

.links a {
    font-family: var(--fonte-secundario);
    color: var(--white);
    text-transform: capitalize;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border: var(--border);
    padding: .2em 1em;
    margin: 0 .25em;
    transition: .25s;
}

.links a:hover {
    background-color:rgb(255, 20, 20);
}

.footer p {
    font-size: 14px;
    font-weight: lighter;
    transition: .15s;
    padding: 6px 0;
}

.footer p:hover {
    color: #444;
}

.footer p:hover span {
    color: rgb(201, 80, 80);
}

.footer h2 {
    color: var(--white);
}