.container_aboutus {
    max-width: 100vw;
    overflow: hidden;
    background: linear-gradient(var(--dark-blue-bg), var(--blue-bg) 75%);
    font-family: var(--fonte-principal);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
}

.information_aboutus {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    border-bottom: 2px solid black;
    box-shadow: inset 0px -2px 2px black;
    max-width: 60%;
}

.information_aboutus h3 {
    font-size: 32px;
    color: var(--laranja);
    font-weight: 500;
    margin-bottom: .5rem;
}

.information_aboutus p {
    font-family: var(--fonte-secundaria);
    color: var(--white);
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    padding: .5rem 0;
}

.btnContainer {
    margin-top: 1.5rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer svg {
    color: var(--white);
    font-size: 28px;
    margin: 0 6rem;
}

.img_aboutus {
    font-family: var(--fonte-secundaria);
    background-color: var(--dark-blue-bg);
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1rem;
    min-height: 75vh;
    text-align: center;
    width: 100%;
    overflow: hidden;
    border-left: 2px solid black;
    box-shadow: 0 0 12px black;
}

@media screen and (max-width: 1024px) {
    .information_aboutus {
        padding: 2rem 1rem;
    }
}


@media screen and (max-width: 768px) {
    .container_aboutus {
        width: 100vw;
        flex-direction: column;
    }

    .information_aboutus {
        padding: 2rem 1rem;
        max-width: 100%;
    }

    .img_aboutus {
        padding: 1rem .75rem;
    }

    .img_aboutus {
        border-left: none;
    }

    .btnContainer {
        width: 100%;
        padding: 0;
    }

    .btnContainer svg {
        color: var(--white);
        font-size: 28px;
        margin: 0 3rem;
    }
}