.table {
    background-color: #080808;
    width: 100%;
    padding-bottom: .5rem;
}

th,
td {
    border: 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.table th {
    border-bottom: 1px solid gray;
}

.table th:not(th:last-child),
.table td:not(td:last-child) {
    border-right: 1px solid gray;
}

.exp {
    color: red;
    text-shadow: 0 0 5px red;
}

.mid {
    color: blue;
    text-shadow: 0 0 5px blue;
}

.gold {
    color: gold;
    text-shadow: 0 0 5px gold;
}

.roaming {
    color: orangered;
    text-shadow: 0 0 5px orangered;
}

.jungle {
    color: green;
    text-shadow: 0 0 5px green;
}