.container_aboutus {
    max-width: 100vw;
    width: calc(100vw - 14.5px);
    overflow: hidden;
    background: linear-gradient(rgb(21, 13, 59), var(--blue-bg));
    font-family: var(--fonte-principal);
    box-sizing: border-box;
}

.information_aboutus {
    text-align: left;
    padding: 2rem;
    flex: 1;
    border-left: 2px solid black;
    border-left: 2px solid black;
    /* min-height: 75vh; */
}

.information_aboutus h3 {
    font-size: 32px;
    color: var(--laranja);
    font-weight: 500;
    margin-bottom: .5rem;
}

.information_aboutus p {
    font-family: var(--fonte-secundaria);
    color: var(--white);
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    padding: .5rem 0;
}

.btnContainer {
    margin-top: 1.5rem;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer svg {
    color: var(--white);
    font-size: 28px;
    margin: 0 6rem;
}

.img_aboutus {
    font-family: var(--fonte-secundaria);
    background-color: rgb(21, 13, 59);
    padding: 1rem;
    flex: 1;
    height: 75vh;
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
    box-shadow: 0 0 12px black;
    background-color: (21, 13, 59);
}
