.back {
    background: #080808;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.container_name {
    padding: 0 1rem;
    position: relative;
    background: 
        linear-gradient(
            var(--weak-black),
            #080808);
}

.container_name h2 {
    font-family: var(--brush-font);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 1rem;
    width: 100%;
}

.about_back {
    font-size: 14px;
    padding: 0 1rem;
    width: 100%;
}

.about_back p {
    padding: .5rem 0;
    font-size: 14px;
    border-bottom: 1px solid gray;
}