.card_extension {
    font-family: var(--fonte-secundaria);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    min-height: 400px;
    max-width: 400px;
    margin: 2rem 3rem;
    overflow: hidden;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border: 2px solid black;
    box-shadow: 0 3px 5px black;
    position: relative;
    cursor: pointer;
    transition: .4s;
}

.card_extension:hover {
    transform: scale(1.04) translateY(-20px);
    box-shadow: 0 0 35px var(--laranja);
}

.information_extension {
    background-color: var(--light-blue-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    padding: 2.5rem 1rem;
}

.content_title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .2rem;
    border-bottom: 2px solid black;
}

.content_img {
    width: 100px;
    height: 100px;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 50%;
}

.content_img svg {
    color: black;
    font-size: 36px;
}

.content_title figcaption {
    color: var(--laranja);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 5px 10px;
}

.information_extension p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.vertical {
    background-color: var(--purple);
    padding: 0 .25em;
    writing-mode: vertical-rl;
    border-left: 2px solid black;
}

.vertical p {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    padding: 1rem 0;
}


@media screen and (max-width: 768px) {
    .card_extension {
        min-height: initial;
        justify-content: space-between;
        max-width: 100%;
        margin: 1rem 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-radius: 2px;
    }

    .card_extension:hover {
        transform: scale(1.01) translateY(-10px);
        box-shadow: 0 0 12px var(--laranja);
    }

    .information_extension {
        justify-content: start;
        padding: 1rem;
        max-width: 100%;
    }

    .content_title {
        background-color: var(--light-blue-bg);
        flex-direction: row;
        justify-content: left;
        padding-bottom: .5rem;
        margin-bottom: .5rem;
    }

    .content_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: initial;
        height: inherit;
        padding: .7em;
        margin: 0;
    }

    .content_img svg {
        color: black;
        font-size: 16px;
    }

    .information_extension p {
        text-align: left;
        font-size: 14px;
        margin-bottom: 0;
    }
}