.container_extensions {
    font-family: var(--fonte-secundaria);
    padding: 3rem 2rem;
    background: linear-gradient(rgb(21, 13, 59), rgb(5, 0, 30));
    max-width: 100vw;
    overflow: hidden;
}

.container_extensions>h2{
    color: white;
    text-shadow: -2px 2px black;
    font-size: 56px;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
    .container_extensions {
        padding: 2rem 1rem;
    }

    .container_extensions>h2 {
        font-size: 42px;
        margin-bottom: 1.75rem;
    }
}

@media screen and (max-width: 748px) {
    .container_extensions {
        padding: 1.25rem 1rem;
        background: linear-gradient(var(--preto), #13131a);
    }

    .container_extensions>h2 {
        font-size: 36px;
        margin-bottom: .5rem;
    }
}