.container_rank {
    font-family: var(--statistic-font);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 600px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    margin-top: 5rem;
    animation: blink 2s linear infinite alternate;
}

.container_rank:not(.container_rank:last-child) {
    margin-right: 5rem;
}

.rank_header {
    background-color: var(--preto);
    width: 100%;
    text-align: center;
    padding: 1rem 1rem;
    border: 3px solid var(--laranja);
    border-bottom: 2px solid var(--laranja);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.rank_header h2 {
    color: white;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3px;
    background: 
        linear-gradient(
            var(--white),
            var(--laranja));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    overflow: hidden;
}

.rank {
    width: 100%;
    height: 100%;
}

@keyframes blink {
    0% {
        box-shadow: 
            0 0 0 2px var(--dark-orange),
            0 0 24px var(--dark-orange);
    }
    100% {
        box-shadow:
            0 0 0 2px var(--dark-orange),
            0 0 12px var(--dark-orange);
    }
}

@media screen and (max-width: 748px) {
    .container_rank {
        width: 100%;
    }

    .container_rank:not(.container_rank:last-child) {
        margin-right: 0;
    }

    .rank_header h2 {
        font-size: 32px;
    }
}