.card_mlbb {
    max-width: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
    border: 1px solid black;
    box-shadow:
        0px 0px 9px rgb(144, 255, 218),
        0px 0px 18px rgb(216, 255, 242),
        0px 0px 128px rgb(168, 0, 0),
        0px 0px 64px rgb(168, 0, 48),
        0px 0px 16px rgb(92, 168, 0),
        0px 0px 16px rgb(25, 0, 168);
        /* 0px 0px 128px rgb(168, 0, 0),
        0px 0px 64px rgb(168, 0, 0),
        0px 0px 16px rgb(168, 0, 0),
        0px 0px 16px rgb(168, 0, 0); */
    cursor: pointer;
    transition: .3s;
    border-radius: 2px;
}

.card_mlbb:hover{
    transform: scale(1.03);
    box-shadow:
            0px 0px 12px rgb(144, 255, 218),
            0px 0px 24px rgb(216, 255, 242),
            /* inset 0px 0px 0px 2px rgb(0, 168, 112), */
            0px 0px 264px rgb(168, 0, 0),
            0px 0px 124px rgb(168, 0, 0),
            0px 0px 16px rgb(168, 0, 0),
            0px 0px 32px rgb(168, 0, 0);
}

.card_mlbb a {
    text-decoration: none;
}

.container_img {
    flex: 1;
    width: 100%;
    position: relative;
}

.container_img::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparent, #0f121d);
    position: absolute;
    pointer-events: none;
}

.container_img img {
    text-align: center;
    width: 100%;
}

.information_card {
    flex: 2;
    padding: 1rem;
    background-color: #0f121d; 
}

.information_card h3 {
    font-family: var(--fonte-principal);
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: -1px 1px var(--vermelho);
    letter-spacing: 1.2px;
    text-align: left;
    font-weight: 400;
}


.information_card p {
    color: var(--white);
    margin: 1rem 0;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-secundaria);
    text-align: left;
    text-shadow: -.2px .5px red;
}