.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: center;
}