.container_swipper {
    font-family: var(--fonte-secundaria);
    background: linear-gradient(rgb(28, 18, 80), rgb(36, 23, 103));
    text-align: center;
    width: 100vw;
    padding: 2rem;
    overflow: hidden;
}

.container_swipper>h2 {
    color: #fff;
    width: 100%;
    font-size: 48px;
    font-weight: 700;
}

.content_slide {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_slide>div{
    width: 100%;
}

