.container_bg {
    background: linear-gradient(transparent 75%, #000);
    width: 100%;
}

.information {
    width: 100%;
    z-index: 100;
    padding: 0 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.information h2 {
    font-family: 'Zombie Brush Personal Use', sans-serif;
    font-family: 'KNIGHT WARRIOR', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-shadow: -2px 2px black;
    position: relative;
    z-index: 100000000000;
    
}

.information h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    text-shadow: -1.2px 1.2px black;
    position: relative;
    z-index: 100000000000;
}

.information h3 span {
    color: var(--laranja);
    text-shadow: -1.5px 1.5px black;
    font-weight: 700;
}