.container_banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding: 2rem 7%;
    background-color: var(--preto);
    /* box-shadow: inset 0 0 60px var(--bg) */
}

.informationBanner {
    text-align: left;
    max-width: 45%;
}

.informationBanner h2 {
    font-family: var(--fonte-principal);
    color: var(--white);
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 500;
}

.informationBanner p {
    font-family: var(--fonte-secundaria);
    color: var(--white);
    font-size: 1.25em;
    font-weight: lighter;
    line-height: 1.8;
    margin: 1em 0 calc(1em - 12px) 0;
}

.buttonsRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2%;
}

.informationBanner img {
    animation: flutuar 4s alternate ease-in-out infinite;
}

@keyframes flutuar {
    0% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(-30px);
    }
}