.card_extension {
    font-family: var(--fonte-secundaria);
    color: var(--white);
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 32px;
    border-bottom-right-radius: 32px;
    align-items: stretch;
    overflow: hidden;
    margin: 0 2rem;
}

.information_extension{
    width: 300px;
    background-color: rgb(44, 44, 199);
    padding: 2.5rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_img {
    width: 100px;
    height: 100px;
    padding: 2rem;
    background-color: whitesmoke;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.content_img svg {
    color: black;
    font-size: 36px;
}

.information_extension h3 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}

.vertical {
    background-color: purple;
    padding: 0 .25em;
    writing-mode: vertical-rl;
}

.vertical p {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
}
