.container_plataform {
    background-color: var(--bg);
    padding: 2rem 0rem;
    position: relative;
    background: repeating-linear-gradient(45deg,
                #160000,
                #1f0000 8%,
                #460000 8%,
                #070000 10%);
                /* #011600,
                    #001f13 8%,
                    #004635 8%,
                    #000700 10%); */
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    overflow: hidden;
    padding-bottom: 130px;
}

.container_plataform::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    background: linear-gradient(black, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    animation: bg-animation 16s alternate-reverse infinite;
    box-shadow: inset black 0px 10px 20px;
    pointer-events: none;
}

.content_plataform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.flex {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragrath_plataform {
    font-family: var(--fonte-secundario);
    font-family: 32px;
    font-weight: 600;
    color: var(--white);
    margin: .5rem 0;
}

.paragrath_plataform span {
    font-family: 36px;
    color: var(--laranja);
    text-shadow: -1px 1px var(--vermelho);
    text-transform: uppercase;
}

.paragrath_plataform svg {
    font-size: 18px;
    color: var(--laranja);
    text-shadow: -1px 1px var(--vermelho);
    vertical-align: bottom;
    margin: 0 3px;
}

.flex>img {
    width: 70%;
    margin: 0 auto;
}


@keyframes move-it {
    0% {
        background-position: initial;
    }

    100% {
        background-position: 100px 0px;
    }
}

@keyframes bg-animation {
    0% {
        background-position: 50% 0%;
    }
        0% {
            background-position: 50% 100%;
        }
}